!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 Subscription Plan Updated
    %p
      This email has been sent to you because your subscription plan was updated,
      and you are the account listed on the credit card billing statement. Your subscription
      plan is now #{@subscription.plan.name.titleize}.
    %p
      Sign-in at bodycomp.us.to to find out more.
