Subscription Plan Updated

This email has been sent to you because your subscription plan was updated,
and you are the account listed on the credit card billing statement. Your subscription
plan is now #{@subscription.plan.name.titleize}.

Sign-in at www.tranetrak.com to find out more.
