= render :partial => 'bodycomps/summary'

= link_to "SENNsational Performance", 'https://www.jeremysenn.com'
= link_to "Nutrition Coaching", 'https://www.jeremysenn.com/welcome/nutrition_coaching'
= link_to "Strength Coaching", 'https://www.jeremysenn.com/welcome/strength_coaching'