= render :partial => 'bodycomps/summary'
%p
  Learn more at
  = link_to "SENNsational Performance", 'https://www.jeremysenn.com'
%p= link_to "Nutrition Coaching", 'https://www.jeremysenn.com/welcome/nutrition_coaching'
%p= link_to "Strength Coaching", 'https://www.jeremysenn.com/welcome/strength_coaching'