= f.input :exercise_name
= f.hidden_field :workout_session_id, :value => @workout_session.id
= f.input :sets, :input_html => {:class => 'input-mini'}
= f.input :rest, :input_html => {:class => 'input-medium'}
=# f.input :trainer_id
=# f.input :client_id
