<div class="container-narrow">
  <%- model_class = Client -%>
  <div class="page-header">
    <h3 class="text-success">
      <i class="icon-user"></i>
      Edit Client
    </h3>
  </div>
  <%= render :partial => 'form' %>
</div>
